<%= render 'banner' %>
<div class="text-center">
  <span><%= @fondations.count %> fondations</span> et
  <span><%= @projects.count %> financements sur Fondabase !</span>
</div>
<%= render 'homecard' %>
<%= render 'banner-price' %>
