<div class="container">
  <% @projects.each do |project| %>
  <div class="project-content">
    <%= link_to project.link, :target => '_blank' do %>
      <h2><%= project.title %></h2>
      <p><%= project.description %></p>
      <p><%= project.link %></p>
      <p><%= project.expiration %></p>
      <p><%=raw project.all_tags %></p>
    <% end %>
  </div>
  <% end %>
</div>
