<div class="container">
  <div class="ao-search">
    <div>
      <p>Recherche:</p>
    </div>
    <div class="form-inputs" id="form">
      <%= simple_form_for @search, method: :get, url: projects_path do |f| %>
      <div>
        <%= f.input :category, :include_blank => "Toutes catégories", required: false, label: false, collection: @categories, class: 'form-control' %>
      </div>
      <div>
        <%= f.input :eligible, :include_blank => "Tous publics", required: false, label: false, collection: @eligibles, class: 'form-control' %>
      </div>
      <div>
        <%= text_field_tag :query, params[:query], placeholder: "Recherche par mot clé...", class: 'form-control' %>
      </div>
      <div>
        <%= f.submit 'GO', class: 'btn btn-primary paddind-category btn-from-search' %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="ao-count">
    <p><strong>Actuellement, <%= @projects.count %> appels à projet sont en cours. </strong></p>
    <div class="text-right sort-expiration">
      <span class="sort-link">
        <%= link_to sort: "expiration ASC" do %>
          <i class="fas fa-sort-amount-up"></i> Ordre ascendant
        <% end %>
      </span>
      <span class="sort-link">
        <%= link_to sort: "expiration DESC" do %>
          <i class="fas fa-sort-amount-down"></i> Ordre descendant
        <% end %>
      </span>
  </div>
  </div>
  <div>
    <% @projects.each do |project| %>
    <div class="project-content">
      <div class="row">
        <div class="col-lg-11">
          <% if project.expiration >= Date.today - 15.day %>
            <span class="project-expiration"><i class="fas fa-bell"></i> Bientôt expiré !</span>
          <% end %>
          <% if project.created_at <= Date.today - 15.day %>
            <span class="project-new"><i class="fas fa-bullhorn"></i> New</span>
          <% end %>
          <h2><%= project.title.mb_chars.upcase %></h2>
        </div>
        <div class="col-lg-1" id="div-favori">
          <% unless current_user.favorite_projects.exists?(id: project.id) %>
          <%= link_to favorite_projects_path(project_id: project), method: :post do %>
          <i class="far fa-bookmark fa-2x align-middle" style="color:#DE6860"></i>
          <% end %>
            <span id="add-favoris">
              Ajouter à mes favoris
            </span>
          <% else %>
          <%= link_to favorite_project_path(project), method: :delete do %>
          <i class="fas fa-bookmark fa-2x" style="color: #DE6860"></i>
          <% end %>
          <span id="add-favoris">
              Supprimer de mes favoris
          </span>
          <% end %>
        </div>
      </div>
      <div class="project-description">
        <p><%= project.description %></p>
      </div>
      <div class="project-info">
        <div class="row">
          <div class="col-md-6">
            <p><span>Fondation:</span> <%= project.fondation.title %></p>
          </div>
          <div class="col-md-6">
            <p><span>Catégorie:</span> <button class="btn btn-xs btn-success disabled"><%= project.category.title %></button></p>
          </div>
          <div class="col-md-6">
            <p><span>Date limite de dépôt des projets:</span> <%= project.expiration.strftime("%d/%m/%Y") %></p>
          </div>
          <div class="col-md-6">
            <p>
              <span>Public(s) Eligible(s):</span>
              <% project.eligibles.to_a.each do |eligible| %>
                <button class="btn btn-xs btn-primary disabled""> <%= eligible.title %></button>
              <% end %>
            </p>
          </div>
      </div>
    </div>
    <div class="more-information">
      <p>
        <%= link_to project_path(project) do %>
        <i class="fas fa-info"></i>+ d'information
        <% end %>
      </p>
    </div>
  </div>
  <% end %>
</div>
<div class="text-center paginate">
  <%= will_paginate @projects %>
</div>
</div>
