<div class="container">
  <div class="ao-search">
    <div>
      <p>Recherche:</p>
    </div>
    <div class="form-inputs" id="form">
      <%= simple_form_for @search, method: :get, url: projects_path do |f| %>
          <div>
            <%= f.input :category, :include_blank => "Toutes catégories", required: false, label: false, collection: @categories, class: 'form-control' %>
          </div>
          <div>
            <%= f.submit 'GO', class: 'btn btn-primary paddind-category btn-from-search' %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="ao-count">
    <p><strong>Actuellement, <%= @projects.count %> appels à projet sont en cours. </strong></p>
  </div>
  <div>
    <% @projects.each do |project| %>
      <div class="project-content">
          <h2><%= project.title %></h2>
          <div class="project-description">
            <p><%= project.description %></p>
          </div>
          <div class="project-info">
            <p><span>Date limite de dépôt des projets:</span> <%= project.expiration.strftime("%d/%m/%Y") %></p>
            <p><span>Catégorie:</span> <%= project.category.title %></p>
            <p><span>Fondation:</span> <%= project.fondation.title %></p>
            <p><span>Public(s) Eligible(s):</span> <%=raw tag_links(project.all_tags)%></p>
          </div>
          <p class="text-right"><%= link_to ">> accéder à l'appel à projet", project.link, :target => '_blank' %></p>
      </div>
    <% end %>
  </div>
  <div class="text-center">
    <%= will_paginate @projects %>
  </div>
</div>





